.profile {
  background-color: #ffffff;
  border-radius: 10px;
  color: rgb(75, 75, 75);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 20px;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 60px 80px;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(136, 136, 136);
  height: 200px;
}

.name {
  margin-top: 30px;

  color: black;
  font-weight: bold;
}

.tag {
  margin-top: 10px;
  font-size: 26px;
  font-weight: 500;
}

.location {
  margin-top: 10px;
  font-size: 26px;
  font-weight: 500;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(240, 240, 240);

  border-top: 1px solid rgb(184, 184, 184);
}

.stats li {
  padding: 20px 20px;
  text-align: center;
  width: 100%;
}

.stats li:nth-child(2) {
  border-left: 1px solid rgb(184, 184, 184);
  border-right: 1px solid rgb(184, 184, 184);
}

.label {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.quantity {
  display: block;

  font-size: 22px;
  font-weight: 400;
  color: black;
  font-weight: bold;
}
